!!! 5
%html
  %head
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous"}
    %title National Parks
    %meta{ content: "", name: "description" }
    %meta{ content: "", name: "author" }
    %meta{ content: "3 days", name: "revisit-after" }
    %link{ href: "https://creativecommons.org/licenses/by/3.0/", rel: "license", title: "Creative Commons Attribution 3.0 Unported License" }
    :css
      #map {
        height: 500px;
      }
  %body{ data: body_data }

    .container
      .row
        #map.col-xs-12

    .container
      .row
        - lines.each do |row|
          .col-sm-4{ id: row['underscored_title'] }
            %a{ name: "#{ row['Name'] }" }
            %h3= row['Name']
            %h4= row['Location']
            %p= row['Description']
            %p #{ row['Latitude'] }, #{ row['Longitude'] }

    %script{ src: "https://code.jquery.com/jquery-3.1.0.min.js" }
    %script{ src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCVUpFTv-hVgrS4VzyC8uOUYsBoWX_VbNU" }
    %script{ src: "javascripts/map.js" }
    %script{ src: "javascripts/flickr.js" }
